@import url(global.css);

body {
  margin: 0;
  padding: 0;
  font-family: var(--content-font);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;

  /* background: url('ENG4.png') no-repeat center center fixed;
  background-size: cover; */

  background-color: #000000;
  background-image: url(assets/animated-bg.svg);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;

  color: white;
}

.container {
  display: flex;
  flex-direction: column;

  padding: 1rem 2rem;

  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  border-radius: 0.6rem;

  /* position: absolute; */
  /* transform: translate(-50%, -50%); */

  text-align: center;
}

h1 {
  font-size: 28px;
  color: white;
  margin-bottom: 40px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  font-family: var(--title-font);
}

#nickname-box {
  /* change to flex on nickname load */
  display: none;
  opacity: 0;
  filter: blur(20px);
  transition: filter 0.2s;

  position: absolute;
  top: 20px;
  left: 20px;
  align-items: center;
  gap: 10px;

  padding: 8px 12px;
  /* border: 2px solid #fff;
  border-radius: 8px; */

  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(8px);
}

.nickname-input {
  flex: 1;
  background: transparent;
  border: none;

  color: #fff;
  font-size: 1.2rem;
  font-family: var(--content-font);
  padding: 4px 8px;

  /* transition: border-bottom 0.3s ease, color 0.3s ease; */
}

.nickname-input:focus {
  border-bottom: 2px solid hsl(21, 86%, 50%);
  outline: none;
}

.nickname-input::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-style: italic;
}

.nickname-submit {
  display: flex;
  align-items: center;
  justify-content: center;

  background: transparent;
  border: none;
  cursor: pointer;

  padding: 6px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.nickname-submit:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.nickname-submit img {
  transition: transform 0.3s ease;
}

.nickname-submit:hover img {
  transform: scale(1.1);
}


.button-primary {
  background-color: hsl(21, 86%, 25%);
  box-shadow: 0 0.5rem 0 0 rgb(53, 27, 1);
}

.button-secondary {
  background-color: hsl(21, 0%, 25%);
  box-shadow: 0 0.5rem 0 0 hsl(30, 0%, 11%);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  
  margin: 0px 0px;
  padding: 10px 30px;

  border-radius: 0.5rem;

  color: white;
  /* border-radius: 20px; */

  text-decoration: none;
  font-size: 16px;
}

.button:hover {
  /* background-color: hsl(21, 86%, 30%); */
  filter: brightness(1.2);
  transform: translateY(2px);
}

#discord-login-button {
  /* border: 1.6px solid; */
  animation: rgbBorderPulse 3s infinite alternate; /* RGB border animation */
  background-color: hsl(235, 49%, 51%); /* blurple */

  box-shadow: 0 0.5rem 0 0 hsl(235, 49%, 30%);
}

@keyframes rgbBorderPulse {
  0% {
    border-color: rgb(255, 0, 0);
  }
  33% {
    border-color: rgb(0, 255, 0);
  }
  66% {
    border-color: rgb(0, 0, 255);
  }
  100% {
    border-color: rgb(255, 0, 0);
  }
}

.leaderboard-container {
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
  
  width: 100%;
  margin-top: 10rem;

  gap: 1rem;
}

.leaderboard {
  width: 100%;
  max-width: 22rem;
  margin-top: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  padding: 1rem;
  border-radius: 0.5rem;
  backdrop-filter: blur(10px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.leaderboard-header {
  text-align: center;
  margin-bottom: 1rem;
}

.leaderboard-title {
  font-size: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* leaderboard */

.trophy {
  margin-right: 0.5rem;
  color: #ffffff;
}

.leaderboard .table {
  width: 100%;
  border-collapse: collapse;
}

.leaderboard .table-head {
  color: #ffffff;
  text-align: left;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.leaderboard-score {
  text-align: right;
}

.table-row {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.table-cell {
  padding: 0.75rem 0;
  color: #ffffff;
}

.table-cell:first-child {
  font-weight: 500;
}
