@import url(../global.css);

body {
	margin: 0;
	padding: 0;
	background-color: #130a01;
	/* background-image: url(/assets/blurry-gradient-bg.svg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat; */

	font-family: var(--content-font);
	color: white;
}

.box {
	box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.5), 0 2px 4px -2px rgb(0 0 0 / 0.5);
}